@import url("https://fonts.google.com/specimen/Rambla");
@import url("https://fonts.google.com/specimen/Open+Sans");
@font-face {
  font-family: "flood";
  src: url("/assets/Flood.ttf");
}
body {
  margin: 0em;
  align-content: center;
  min-width: 900px;
  max-width: 1380px;
  font-family: Helvetica, Regular;
}
.header,
.header-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}
.header {
  padding: 1em;
}
.header-title {
  font-family: "Rambla", sans-serif;
  color: #354463;
  font-size: 2em;
  font-weight: bold;
}
.header-menu-item {
}
.header-donate {
  height: 2.5em;
  width: 9em;
  background: #c1f7d5;
  border-radius: 2em;
  text-align: center;
  display: table;
}
.header-donate-button {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  text-decoration: none;
  color: #354463;
}
.section1 {
  display: grid;
  align-items: center;
  background: url("../assets/assets/home/annie-spratt-135307-unsplash-des.png");
  height: 35em;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.section1-poster1 {
  display: grid;
  grid-template-columns: 60% 40%;
}
.section1-poster1-card1 {
  justify-self: center;
  align-self: center;
  height: 25em;
  width: 30em;
  background: white;
  display: grid;
  position: relative;
  align-items: center;
}
.section1-poster1-card1-item1 {
  height: 2em;
  width: 8em;
  text-align: center;
  background: black;
  color: white;
  position: relative;
  top: -1em;
  left: 4em;
  display: table;
}
.section1-poster1-card1-item1 > span {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}
.section1-poster1-card1-item2 {
  font-size: 2.8em;
  font-weight: 600;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  top: -0.5em;
}
.section1-poster1-card1-item3 {
  position: relative;
  top: -3.5em;
  padding-left: 3em;
}
.section1-poster1-card1-item3 > a {
  color: black;
}
.section1-poster1-card2 {
  font-size: 3em;
  margin-top: -1em;
  padding-right: 3em;
  font-family: "flood";
  line-height: 2em;
  color: white;
}
.section2 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  background: #c1f7d5;
  position: relative;
  padding: 3em;
  padding-top: 0em;
  justify-items: center;
}
.take-action {
  height: 2em;
  width: 8em;
  background: black;
  color: white;
  position: relative;
  top: -1em;
  left: 4.5em;
  display: table;
  grid-column-end: 3;
  justify-self: end;
}
.take-action > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
.section2-poster2-card {
  grid-row-start: 2;
  font-size: 1em;
  color: #354463;
  width: 13em;
  align-self: center;
}
.section2-poster2-card > p {
  margin-top: -1em;
  font-size: 0.8em;
}
.section3,
.section3-poster1 {
  display: grid;
  background: #354463;
  padding: 3em;
}
.section3-poster1 {
  padding: 0em;
}
.section3-poster1-item1 {
  background: white;
  width: 8em;
  height: 2em;
  text-align: center;
  display: table;
}
.section3-poster1-item1 > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.section3-poster1-item2 {
  color: white;
  font-size: 2em;
}
.section3-poster2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  padding-top: 3em;
}
.section3-poster2-cards {
  height: 32em;
  width: 18em;
  background: white;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 1em;
}
.section3-poster2-cards-item1 > img {
  height: 15em;
  width: 100%;
  position: relative;
  top: -3em;
  left: 2em;
}
.section3-poster2-cards-item2 {
  position: relative;
  top: -2em;
  left: 2em;
  width: 12em;
}
.section3-poster2-cards-item2 > h1 {
  font-size: 1.8em;
}

.section3-poster2-cards-item2 > span {
  font-family: fantasy;
  font-size: 0.8em;
}
.section3-poster2-cards-item3 {
  background: #c1f7d5;
  width: 8em;
  height: 2em;
  border-radius: 1em;
  color: #354463;
  text-align: center;
  display: table;
  position: relative;
  left: 2em;
}
.section3-poster2-cards-item3 > span {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}
.section4 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: url("/assets/assets/home/did-you-know-background.png");
  background-size: cover;
  height: 60em;
  padding: 6em;
  justify-items: center;
}
.section4-poster1 {
  display: grid;
}
.section4-climate-change {
  padding-left: 0.8em;
  font-size: 4.5em;
  font-family: "flood";
  line-height: 1em;
  color: #ffffff;
  position: relative;
}

.section4-take-action {
  text-align: center;
  background: #c1f7d5;
  color: #354463;
  height: 2.5em;
  width: 9em;
  border-radius: 2em;
  display: table;
  position: relative;
  top: -15.5em;
  left: 3.8em;
}
.section4-take-action > b {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
.section4-poster2 {
  display: grid;
  grid-row-gap: 3em;
  position: relative;
  top: -4em;
}
.section4-poster2-cards1 {
  background: white;
  height: 5em;
  width: 20em;
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 3em;
  grid-column-gap: 1em;
}
.section4-did-you-know {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  background: #354463;
  color: white;
  height: 2em;
  width: 9em;
  display: table;
  left: 4em;
  top: 5.5em;
}
.section4-did-you-know > b {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
.section4-poster2-item > b {
  font-size: 2em;
  color: #354463;
}
.section4-poster2-item > i {
  font-size: 1em;
  color: #354463;
  background: #c1f7d5;
  width: 1.5em;
  height: 1.5em;
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  border-radius: 1em;
}
.section4-poster2-item > span {
  color: #354463;
  font-size: 1.3em;
  width: 5em;
}
.section5 {
  background: #ffffff;
  height: 35em;
  display: grid;
  grid-template-columns: 49% 49% 1% 1%;
  padding: 5em;
  position: relative;
}
.section5-card1 {
  background: #354463;
  height: 20em;
  width: 30em;
  color: white;
  position: relative;
  top: 4.5em;
  padding: 3em;
  left: 1em;
  padding-right: 5em;
  padding-bottom: 4em;
  font-weight: bold;
}
.section5-card1 > p {
  font-size: 2.3em;
}
.section5-author {
  font-size: 0.5em;
}
.section5-card2 {
  height: 35em;
  background: url("/assets/assets/home/lady-baby.png");
  background-size: cover;
}
.section5-read-more {
  position: relative;
  height: 3em;
  width: 8em;
  grid-row-start: 2;
  left: 2em;
  background: #c1f7d5;
  color: #354463;
  border-radius: 2em;
  text-align: center;
  display: table;
}

.section5-stories {
  position: relative;
  height: 2em;
  width: 8em;
  left: -28em;
  top: -1em;
  background: black;
  color: white;
  text-align: center;
  display: table;
}
.section5-read-more > b,
.section5-stories > i,
.section6-event,
.section6-read-more,
.section7-read-more {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}
.section6 {
  background: #354463;
  height: 80em;
  display: grid;
  grid-row-gap: 5em;
  justify-content: center;
}
.section6 {
  padding: 5em;
  padding-left: 10em;
}
.section6-poster1 {
  font-size: 5em;
  font-family: "flood";
  line-height: 1em;
  color: white;
}
.section6-poster2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
  position: relative;
}
.section6-poster2-cards1 > img {
  width: 30em;
}
.section6-poster2-cards2 {
  width: 20em;
}
.section6-poster2-cards4 > img {
  position: relative;
  left: -6em;
  width: 30em;
}
.section6-event {
  height: 2em;
  width: 6em;
  background: white;
  color: #354463;
  text-align: center;
}
.section6-read-more {
  height: 2em;
  width: 6em;
  border-radius: 2em;
  background: #c1f7d5;
  color: #354463;
  text-align: center;
}
.section6-poster2-cards2 > span {
  font-family: "Helvetica Bold" Arial, Helvetica, sans-serif;
  font-size: 3em;
  line-height: 1em;
  color: white;
  font-weight: 2em;
}
.section6-poster2-cards2 > p {
  font-size: 1em;
  color: white;
}
.section7 {
  background: #c1f7d5;
  display: grid;
  padding-top: 3em;
  padding-right: 1em;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1em;
}
.section7-card1 {
  align-self: start;
  font-family: Helvetica;
  font-size: 1.4em;
  font-weight: bold;
  justify-self: center;
  padding-left: 5em;
}

.section7-read-more {
  height: 2em;
  width: 8em;
  border-radius: 2em;
  background: black;
  color: white;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: -2em;
  left: 12em;
}
::placeholder {
  color: #354463;
}
.section7-input {
  text-align: center;
  background: white;
  border-radius: 2em;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  color: #354463;
}
.footer {
  display: flex;
  background: white;
  height: 10em;
  padding: 2em;
  justify-content: center;
}
.footer-item {
  padding: 1em;
  font-family: Helvetica, Light;
}
.footer-title {
  font-size: 1.5em;
  position: relative;
  left: -3em;
  color: #354463;
  font-weight: bold;
}
.footer-logo {
  font-family: "flood";
  text-align: center;
  font-size: 2.5em;
  line-height: 1em;
  align-self: center;
  position: relative;
  left: 3em;
}
@media (max-width: 800px) {
  body {
    min-width: 600px;
    max-width: 900px;
  }
  .header {
    grid-template-columns: none;
  }
  .header-title {
    padding-top: 1em;
    padding-left: 3.8em;
    justify-self: start;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 1;
    font-size: 1.5em;
  }
  .header-menu {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
  }
  .header-donate {
    align-self: end;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
  }
  .section1 {
    background: url("/assets/assets/home/annie-spratt-135307-unsplash.png");
  }
  .section1-poster1 {
    grid-template-columns: none;
  }
  .section1-poster1-card1 {
    height: 18em;
    max-width: 100%;
    grid-row-start: 2;
  }
  .section1-poster1-card1-item1 {
    top: -1em;
  }
  .section1-poster1-card1-item2 {
    font-size: 2em;
  }
  .section1-poster1-card1-item3 {
    top: -1.5em;
  }
  .section1-poster1-card2 {
    grid-row-start: 1;
    font-size: 1.5em;
    width: 5em;
    padding-left: 6em;
  }
  .section2 {
    grid-template-columns: none;
  }
  .take-action {
    top: -1em;
    left: 3em;
    grid-column-end: 1;
  }
  .section2-poster2-card {
    grid-row-start: 2;
  }
  .section2 > div:nth-child(odd) {
    grid-row-start: 3;
  }
  .section2-poster2-card > p {
    margin-top: -1em;
    width: 15em;
  }
  .section3-poster1-item2 {
    font-size: 1.5em;
  }
  .section3-poster2 {
    grid-template-columns: none;
    grid-row-gap: 5em;
    padding-top: 5em;
  }
  .section3-poster2-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 35em;
    height: 15em;
    grid-column-gap: 2em;
  }
  .section3-poster2-cards-item2 > h1 {
    font-size: 1.5em;
  }
  .section3_image1 {
    content: url("/assets/assets/home/tree-planting-tab.png");
  }
  .section3-poster2-cards-item1 > img {
    width: 18em;
    height: 100%;
    left: 2em;
  }
  .section3-poster2-cards-item2 {
    position: relative;
    top: 1em;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
  }
  .section3-poster2-cards-item3 {
    grid-row-start: 2;
    top: -1em;
    left: 8em;
  }
  .section4 {
    height: 55em;
    background: url("/assets/assets/home/did-you-know-background-tab.png");
    background-size: cover;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2em;
    padding-left: 0em;
  }
  .section4-poster1 {
    margin-left: 2em;
  }
  .section4-climate-change {
    font-size: 3em;
    width: 5em;
    padding-left: 0em;
  }
  .section4-take-action {
    top: -5;
    left: 0;
  }
  .section4-poster2-cards1 {
    width: 18em;
    height: 5em;
  }
  .section4-did-you-know {
    top: 5em;
  }
  .section4-poster2-item > span {
    font-size: 1em;
  }
  .section5 {
    height: 55em;
    grid-template-columns: none;
    padding: 5em;
  }
  .section5-card1 {
    grid-row-start: 2;
    width: 40em;
    height: 16em;
    top: -4em;
    left: 4em;
    padding: 3em;
    font-size: 0.8em;
    padding-top: 0em;
    padding-bottom: 5em;
  }
  .section5-author {
    position: relative;
    top: -2em;
  }
  .section5-card2 {
    background: url("/assets/assets/home/lady-baby-tab.png");
    max-height: 100%;
    width: 35em;
    grid-column-start: 1;
    grid-column-end: 3;
    background-size: cover;
  }
  .section5-stories {
    top: -53.5em;
    left: 2em;
  }
  .section5-read-more {
    top: 16em;
    left: -32em;
  }
  .section6 {
    padding: 5em;
    justify-content: start;
    height: auto;
  }
  .section6-poster1 {
    font-size: 2.5em;
    width: 13em;
  }
  .section6-poster2-cards1 > img {
    content: url("/assets/assets/home/tree-planting-tab-sec6.png");
    max-height: 100%;
    left: 0em;
    width: 18em;
  }
  .section6-poster2-cards2 {
    width: 16em;
  }
  .section6-poster2-cards2 > span {
    font-size: 1.8em;
  }
  .section6-poster2-cards2 > p {
    font-size: 0.9em;
  }
  .section6-poster2-cards4 > img {
    max-height: 100%;
    left: 0em;
    width: 18em;
    content: url("/assets/assets/home/meeting-tab-sec6.png");
  }
  .section7 {
    grid-template-columns: none;
    grid-row-gap: 1em;
  }
  .section7-card1 {
    padding-left: 0em;
    font-size: 1.5em;
    width: 20em;
  }
  .section7-input {
    position: relative;
    top: 1em;
    left: 9em;
  }
  .section7-read-more {
    top: -1.5em;
    left: 17em;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    height: 18em;
    padding: 0em;
    padding-bottom: 3em;
  }
  .footer-title {
    left: 3em;
    font-size: 1em;
  }
  .menu3 {
    grid-column-start: 2;
  }
  .footer-logo {
    left: -2em;
  }
  .footer-item > hr {
    display: none;
  }
  .footer-item > p {
    margin-top: 0.5em;
  }
}
@media (max-width: 400px) {
  body {
    min-width: 320px;
    max-width: 600px;
  }
  .header {
    grid-template-columns: none;
  }
  .header-title {
    padding-left: 0em;
    justify-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
    font-size: 1em;
  }
  .header-menu {
    grid-template-columns: none;
    justify-items: baseline;

    padding: 0em;
    font-size: 0.6em;
    grid-gap: 0.5em;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
  }
  .header-donate {
    width: 14em;
    align-self: end;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 3;
  }
  .section1 {
    height: 30em;
    background: url("/assets/assets/home/annie-spratt-135307-unsplash-mob.png");
    background-repeat: no-repeat;
  }
  .section1-poster1-card1 {
    height: 14em;
    width: 18em;
    grid-row-start: 2;
  }
  .section1-poster1-card1-item1 {
    top: -1em;
  }
  .section1-poster1-card1-item2 {
    font-size: 1.5em;
  }
  .section1-poster1-card1-item3 {
    font-size: 0.8em;
    left: -1em;
    top: -1.5em;
  }
  .section1-poster1-card2 {
    grid-row-start: 1;
    font-size: 1.5em;
    width: 5em;
    align-self: center;
    position: relative;
    top: -1em;
    left: -3em;
  }
  .take-action {
    top: -1em;
    left: 1em;
    grid-column-end: 1;
  }
  .section2 {
    grid-gap: 0em;
  }
  .section2-poster2-card {
    top: -5em;
    font-size: 1em;
    padding: 0em;
    width: 10em;
  }
  .section2-poster2-card > p {
    font-size: 0.6em;
    width: 8em;
  }
  .section3-poster1-item1 {
    position: relative;
    left: 4.5em;
  }
  .section3-poster1-item2 {
    font-size: 1em;
    text-align: center;
    width: 15em;
    justify-self: center;
  }
  .section3-poster2 {
    grid-template-columns: none;
    padding-top: 3em;
    grid-row-gap: 5em;
  }
  .section3-poster2-cards {
    grid-template-columns: none;
    width: 15em;
    height: 25em;
    padding: 0em;
    justify-items: start;
  }
  .section3_image1 {
    content: url("/assets/assets/home/tree-planting-tab.png");
  }
  .section3-poster2-cards-item1 > img {
    width: 12em;
    height: 100%;
    left: 0.2em;
  }
  .section3-poster2-cards-item2 {
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    top: -2em;
    left: 1em;
  }
  .section3-poster2-cards-item3 {
    grid-column-start: 1;
    grid-row-start: 3;
    top: -1em;
    left: 2em;
  }
  .section4 {
    height: 60em;
    grid-template-columns: none;
    background: url("/assets/assets/home/did-you-know-background-mob.png");
    padding: 0em;
  }
  .section4-poster2 {
    justify-content: center;
    top: -1em;
    grid-row-gap: 1em;
  }
  .section4-climate-change {
    font-size: 2em;
    top: 1em;
    left: -2em;
  }
  .section4-take-action {
    top: 2em;
    left: -4em;
    width: 7em;
  }
  .section4-did-you-know {
    top: 3.5em;
  }
  .section4-poster2-cards1 {
    width: 12em;
    height: 4em;
    padding: 2em;
  }
  .section4-poster2-item > b {
    font-size: 1.5em;
  }
  .section4-poster2-item > span {
    font-size: 0.8em;
  }
  .section5 {
    grid-template-columns: none;
    padding: 0em;
    padding-top: 5em;
    padding-left: 3em;
    padding-bottom: 8em;
    height: auto;
  }
  .section5-card1 {
    width: 30em;
    height: 25em;
    padding: 3em;
    font-size: 0.5em;
    left: 0em;
    top: 3em;
  }
  .section5-author {
    position: relative;
    top: -2em;
  }
  .section5-card2 {
    background: url("/assets/assets/home/lady-baby-mob.png");
    height: 18em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: unset;
  }
  .section5-stories {
    top: -1em;
    left: -15em;
  }
  .section5-read-more {
    top: 18em;
    left: -13em;
  }
  .section6 {
    padding-bottom: 0em;
    height: 84em;
  }
  .section6-poster1 {
    font-size: 1.2em;
    width: auto;
  }
  .section6-poster2 {
    grid-template-columns: none;
  }
  .item1 > i {
    position: relative;
    top: -12em;
    left: 4em;
  }
  .section6-poster2-cards1 > img {
    max-height: none;
    width: 14em;
  }
  .section6-poster2-cards4 > img {
    max-height: none;
    width: 14em;
    position: relative;
    top: -30em;
  }
  .item1 {
    position: relative;
    top: -5em;
  }
  .item2 {
    position: relative;
    top: 8em;
  }
  .item2 > i {
    position: relative;
    top: -13em;
    z-index: 1;
    left: 4em;
  }
  .section7 {
    padding-bottom: 1em;
    padding-left: 0em;
  }
  .section7-card1 {
    padding-left: 2em;
    font-size: 1.2em;
    width: auto;
  }
  .section7-input {
    top: 1em;
    left: 3em;
    width: 10em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .section7-read-more {
    font-size: 0.8em;
    width: auto;
    top: -2.2em;
    left: 20em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  ::placeholder {
    font-size: 0.8em;
    padding: 0em;
  }
  .footer {
    grid-template-columns: 50% 50%;
    height: 25em;
    justify-items: center;
    align-items: center;
  }
  .footer-item {
    padding-left: 0em;
  }
  .footer-title {
    left: 0em;
    width: 8em;
  }
  .footer-logo {
    font-size: 2em;
    grid-column-start: 2;
    left: 0em;
  }
}
